@(boards:Seq[domain.model.board.board.Board])

@main("ボードリスト"){
    @for(board <- boards){
        <div class="container">
            <a href="/board/@board.identifier.value">@board.title</a>
        </div>
    }
    <form>
        <input type="text" name="title">
        <button formmethod="post" formaction="/boards" class="btn btn-success">追加</button>
    </form>
}