@(board:domain.model.board.board.Board, messages:Seq[service.messageView.MessageView])

@main(board.title){
    @for(message <- messages){
        <div class="container">
            @message.userName<br/>
            @message.email<br/>
            @message.title <br/>
            @message.body
        </div>
    }
    <form>
        <input type="text" name="title"><br/>
        <textarea name="body"></textarea>
        <button formmethod="post" formaction="/board/@board.identifier.value" class="btn btn-success">追加</button>
    </form>
    <a href="/boards">リストに戻る</a>
}